asgiref==3.7.2
Django==3.2.16
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.8.0

"""
/////////////////////////////////////
Зависимости для установки на хостинге 
timeweb.

asgiref==3.4.1
Django==3.2.16
mysqlclient==2.1.1
python-dotenv==0.20.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.1.0
"""
