{% load static %}
<div class="container px-xl-0">
    <div class="mt-25 mb-75 hr h-2 bg-gray op-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0"></div>
    <div class="row">
        <div class="mb-30 mb-lg-0 col-lg-3 col-sm-6 order-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
            <a href="{% url 'main_pages:index' %}"><img src="{% static 'images/evroteks_logo_3.png' %}" class="img-fluid" alt="Евротекс"></a>
        </div>
        <div class="mb-50 mb-sm-0 col-lg-3 col-sm-6 order-2 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
            <div class="mb-25 f-14 semibold text-uppercase sp-20 title">Наши контакты</div>
            <div class="color-heading text-adaptive">
                Москва, Авиационная, 69<br /> 
                contact@euroteks-rus.ru <br /> 
                +7 (495) 925-81-16 <br />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 order-3 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
            <div class="mb-25 f-14 semibold text-uppercase sp-20 title">Доставка</div>
            <div class="color-heading text-adaptive">
                Отправляем грузы<br /> 
                по всей территории <br /> 
                Российской Федерации
            </div>
        </div>
        {% if not feedback_button_footer_off %}
        <div class="mb-50 mb-lg-0 col-lg-3 col-sm-6 text-lg-left order-1 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
            <a href="{% url 'main_pages:feedback' %}" class="btn action-2">Связаться</a>
        </div>
        {% endif %}
    </div>
</div>
