{% load static %}
<nav class="header_menu_20 pt-60">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="d-flex justify-content-end">
                    <div class="dropdown">
                        <a href="#" class="link color-white lh-40" id="header_menu_20_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
                        <div class="bg-dark dropdown-menu dropdown-menu-right text-right lh-40" aria-labelledby="header_menu_20_dropdown">
                            <div><a href="#" class="link color-white">Startup 3</a></div>
                            <div><a href="#" class="link color-white">Slides</a></div>
                            <div><a href="#" class="link color-white">Qards</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>