<div class="navigation_mobile bg-light type2">
	<a class="close_menu color-main"><i class="fas fa-times"></i></a>
	<div class="px-40 pt-60 pb-60 text-center inner">
			
		<div><a href="{% url 'main_pages:index' %}" class="f-heading f-22 link color-main mb-20">Главная</a></div>
					
		<div><a href="{% url 'main_pages:ekviteks' %}" class="f-heading f-22 link color-main mb-20">Эквитекс</a></div>
					
		<div><a href="{% url 'main_pages:about' %}" class="f-heading f-22 link color-main mb-20">О компании</a></div>
					
		<div><a href="{% url 'main_pages:requisites' %}" class="f-heading f-22 link color-main mb-20">Реквизиты</a></div>
					
	</div> 
</div>