{% extends 'base.html' %}
{% block title %}
О компании | Россия | ООО "Евротекс"
{% endblock %}
{% block description %}
Описание деятельности компании в области конного спорта.
{% endblock %}
{% block content %}
{% load static %}
<figure class="text-center">
      <div class="container-md">
        <div class="row">
          <img src="{% static 'img/company.jpg' %}" width="300" height="400" class="mr-3" alt="...">
        </div>
        <br>
        <div class="col-8-md">
        <p class="text-start">Компания ООО "Евротекс" одна из наиболее динамично развивающихся компаний на российском рынке нетканых материалов.
 В 2011 г. на международной выставке по нетканым материалам  INDEX 11 в Женеве наша компания завоевала гран при в сфере инновационных подходов в создании уникальных нетканых продуктов.
 Благодаря высокоточному французско-немецкому оборудованию, наши  материалы зарекомендовали себя, как одни из лучших в производстве товаров для дома (материалы из вискозы), обуви (искусственный мех, стелечные материалы), верхней и рабочей одежды, автомобильной (шумоизоляция) и дорожно-строительной сферах (геотекстиль).
 Обладая высокими водоотталкивающими свойствами, материалы ООО Евротекс не подвержены воздействию бактерий, а, следовательно, имеют на много более длительный срок эксплуатации и хранения даже в экстремальных условиях. Не маловажными факторами являются высокие показатели негорючести (плавится) и износостойкости, но главным преимуществом является экологичность и сочетание цена-качество.
 Так же возможно изготовление материалов по образцу заказчика.
 Мы всегда учитываем пожелания наших партнёров и готовы сотрудничать в любых производственных направлениях.</p>
</div>
</div>
{% endblock %}