{% extends 'base.html' %}
{% load static %}
{% block title %}
О компании | Россия | ООО "Евротекс"
{% endblock %}
{% block description %}
Описание деятельности производственной компании.
{% endblock %}
{% block keywords %}
евротекс, производитель рубленого геотекстиля
{% endblock %}
{% block content_body %}
{% comment %} <section class="pricing_table_3 bg-light pt-105 pb-100 text-center"> {% endcomment %}
	<div class="container px-xl-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'main_pages:index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">О компании</li>
            </ol>
          </nav>
		{% comment %} <h2 class="mb-65 small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">О компании</h2> {% endcomment %}
    <img src="{% static 'images/about_5.jpg' %}" class="img-fluid" alt="Еврогрунт для конного спорта"> 
    <p class="text-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">Компания ООО «Евротекс» одна из наиболее динамично развивающихся компаний на российском рынке нетканых материалов.
            <br>В 2011 г. на международной выставке по нетканым материалам  INDEX 11 в Женеве наша компания завоевала гран при в сфере инновационных подходов в создании уникальных нетканых продуктов.
            Благодаря высокоточному французско-немецкому оборудованию, наши  материалы зарекомендовали себя, как одни из лучших в производстве товаров для дома (материалы из вискозы), обуви (искусственный мех, стелечные материалы), верхней и рабочей одежды, автомобильной (шумоизоляция) и дорожно-строительной сферах (геотекстиль).
            <br>Обладая высокими водоотталкивающими свойствами, материалы ООО «Евротекс» не подвержены воздействию бактерий, а, следовательно, имеют на много более длительный срок эксплуатации и хранения даже в экстремальных условиях. Немаловажными факторами являются высокие показатели негорючести (плавится) и износостойкости, но главным преимуществом является экологичность и сочетание цена-качество.
            Также, возможно изготовление материалов по образцу заказчика. <br>
            Мы всегда учитываем пожелания наших партнёров и готовы сотрудничать в любых производственных направлениях.</p>
	</div>
{% comment %} </section> {% endcomment %}
{% endblock %}