{% extends 'base.html' %}
{% load static %}
{% block title %}
Эквитекс | Россия | ООО "Евротекс"
{% endblock %}
{% block description %}
Описание рубленного геотекстиля для еврогрунтов в конном спорте.
{% endblock %}
{% block content_body %}
	<div class="container px-xl-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'main_pages:index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Описание "Эквитекс"</li>
            </ol>
          </nav>
        <p class="text-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">«Эквитекс»  применяется для стабилизации песчаных покрытий конно-спортивных полей, в том числе плацов, манежей, скаковых дорожек.
            Рекомендуется как для закрытых, так и для открытых полей.
            Изготовляется путем многократного дробления  полиэфирного геотекстиля (нетканого материала), синтетической ковровой кромки( полипропилен)  и волокон.
            Исходя из многолетнего опыта по изготовлению ипподромных грунтов, в том числе всепогодных, с применением различных волокнистых наполнителей,
            полимерных и резиновых крошек, мы предлагаем наиболее эффективные наполнители,  доступную технологию и рекомендации по стабилизации песчаных поверхностей конных полей.
            Полиэфирные  нетканые материалы и дробленная ковровая кромка обладают рядом  неоспоримых преимуществ перед другими аналогичными материалами, в атмосферостойкости,
            изностойкости  и  долговечности. Эквитекс имеет высокую химическую  стойкость, не гниет, не чувствителен к различным грибками, бактериям и не плесневеет, устойчив к грызунам и насекомым,
            не выделает никаких побочных продуктов, не вызывает аллергию у лошадей, экологически чистый и безвредный материал. Так, например, нетканый материал (геотекстиль), произведённый по нашей технологии,
            используется для изготовления стелек детской и спортивной обуви. Ковровая кромка, исключительно образуется только в производстве ковров. Не допускается использование утилизированных ковров.
            Использование «Эквитекс» увеличивает водопоглащающую и водоудерживающую способность грунта, что обеспечивает  его однородность  и уменьшает пылеобразование.
            </p>
	</div>
{% endblock %}