{% extends 'base.html' %}
{% load static %}
{% block title %}
Эквитекс | Россия | ООО "Евротекс"
{% endblock %}
{% block description %}
Волокнистый наполнитель для конных полей от производителя.
{% endblock %}
{% block keywords %}
эквитекс, рубленный геотекстиль, конный грунт, эквиплан, нижний полив
{% endblock %}
{% block content_body %}
	<div class="container px-xl-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'main_pages:index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Эквитекс</li>
            </ol>
          </nav>
        <img src="{% static 'images/evrogrunt_evroteks_9.jpg' %}" class="img-fluid" alt="Еврогрунт для конного спорта">
        <p class="text-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">«Эквитекс»  применяется для стабилизации песчаных покрытий конно-спортивных полей, в том числе плацов, манежей, скаковых дорожек.
            Рекомендуется как для закрытых, так и для открытых полей.
            <br>Исходя из многолетнего опыта по изготовлению ипподромных грунтов, в том числе всепогодных, с применением различных волокнистых наполнителей,
            полимерных и резиновых крошек, мы предлагаем наиболее эффективные наполнители,  доступную технологию и рекомендации по стабилизации песчаных поверхностей конных полей.</p>
            <ul data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200">
              <li>Много волокна</li>
              <li>Стабилизирует поверхность</li>
              <li>Не гниет</li>
              <li>Не чувствителен к различным грибками, бактериям и не плесневеет</li>
              <li>Устойчив к грызунам и насекомым</li>
              <li>Не вызывает аллергию у лошадей</li>
              <li>Экологически чистый и безвредный материал</li></ul></p>
              <p class="text-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1300">Использование «Эквитекс» увеличивает водопоглащающую и водоудерживающую способность грунта, что обеспечивает  его однородность  и уменьшает пылеобразование.</p>
	</div>
{% endblock %}