{% extends 'base.html' %}
{% block title %}
Форма обратной связи | Россия | ООО "Евротекс"
{% endblock %}
{% block description %}
Оставить заявку на рубленный геотекстиль
{% endblock %}
{% block keywords %}
купить рубленный геотекстиль, заказать наполнитель для еврогрунта
{% endblock %}
{% block content_body %}
{% load crispy_forms_tags %}
{% load user_filters %}
      <div class="container">
        <div class="container xl-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main_pages:index' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Форма обратной связи</li>
              </ol>
            </nav>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8 p-5">
              <div class="card" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
                <div class="card-body">
                  {% if form.errors %}
                  {% for field in form %} 
                    {% for error in field.errors %}  
                      {% if field.name == 'captcha' %}
                      <span class="badge badge-pill badge-danger">
                        Необходимо пройти проверку с помощью капчи
                      </span><br>
                      {% else %}
                      <span class="badge badge-pill badge-danger">
                        {{ error|escape }}
                      </span><br>
                    {% endif %}
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                  <span class="badge badge-pill badge-danger">
                    {{ error|escape }}
                  </span><br>
                  {% endfor %}
                  {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                      {% if field.name != 'captcha' %}
                        {{ field|as_crispy_field }}
                      {% else %}
                        {{ form.captcha|safe }}
                      {% endif %}
                    {% endfor %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="mt-0 btn action-2 f-16" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1000">
                    Отправить
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

